body {
  font-family: arial;
}

/* .cell:hover {
  border: 6px inset red;
} */

.cell:hover {
  cursor: pointer;
}

.legend-container {
  width: 500px;
  height: 90px;
  margin-left: 70px;
  font-family: arial;
  font-size: 12px;
  background-color: beige;
  padding: 20px;
}

.tooltip-visible {
  visibility: visible;
}

.tooltip-invisible {
  visibility: hidden;
}

.main-heading {
  margin-left: 70px;
}

#description {
  margin-left: 70px;
}

.vis-container {
  margin-bottom: -90px;
}
